@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: 'Open Sans';
    margin: 0%;
}
header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border: 10px rgb(34, 34, 34) solid;
}
header h1{
    margin-left: 25px;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 8% 25% 8% 25%;
    border: 3px black solid;
    padding: 1%;
}
main button{
    padding: 5px;
    cursor: pointer;
}

footer p{
    margin: 1%;
}